# -------- directories
artifacts
bin
build
.terraform
.DS_Store
.ci-venv
_docs

# -------- Unit test / coverage reports
.coverage
*.xml

# -------- Compiled source
*.dll
*.exe
*.o
*.mod
*.so
*.py[cod]

# -------- Packages
*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

# -------- Log & Binary Files
*.log
*.h5
*.bson
*.bhb
*.egg-info

# -------- IDE Configs
*.orig
*.vcxproj
*.vscode
*.vfproj.*.user
*.suo
*.u2d
*.htm
*.html
*-convert.htm
*.sta
